<div class="navbar">
  <button class="hamburger" aria-label="Menu">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/>
    </svg>
  </button>
  <a href="index.html" class="logo">
    <img src="images/logo.png" alt="Logo" class="logo-img" />
    <span class="logo-text">Abdi Farah</span>
  </a>
  <nav aria-label="Navigation principale">
    <a href="index.html">Accueil</a>
    <a href="pages/parcours.html">Parcours</a>
    <a href="pages/competences.html">Compétences</a>
    <a href="pages/stages.html">Stages</a>
    <a href="pages/evenements.html">Événements</a>
    <a href="pages/matieres.html">Matières</a>
    <a href="pages/passions.html">Passions</a>
    <a href="pages/quizz.html">Quizz</a>
    <a href="pages/contact.html">Contact</a>
    <a href="pages/temoignage.html">Témoignage</a>
  </nav>
  <input type="checkbox" id="themeSwitch" name="theme-switch" class="theme-switch__input" />
  <label for="themeSwitch" class="theme-switch__label">
    <span></span>
  </label>
</div>

